.first-page{
    display: none;
    background-image: linear-gradient(to bottom, rgba(43,174,102,0) 70%, rgba(43,174,102,1) 100%), url("images/19747922_tawz_u63b_210816.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info-container{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.user-info{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    padding: 20px;
    border-radius: 26px;
    background: #d2d2d261;

}
.profile-pic{
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
    fill: grey;
}
.name-container{
    display: flex;
    height: 81px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.other-info{
    margin: auto;
    display: flex;
    width: 363px;
    height: 227px;
    border-radius: 26px;
    background: #D9D9D9;
}
.logout-button{
    margin: auto;
    width: 203px;
    height: 61px;
    border-radius: 10px;
    background: #234E70;
    border: none;
    color: white;
}
.button-container{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
}
canvas{
    width: 500px;
    margin: auto;
}
.user-data{
    width: fit-content;
    height: max-content;
    background-color: #D9D9D9;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    
}

@media screen and (max-width: 768px) {

    .user-info-container {
        /* Adjust styles for smaller screens here */
        margin-top: 50px;
    }

    .user-info {
        /* Adjust styles for smaller screens here */
        width: 80%;
    }

    .profile-pic {
        /* Adjust styles for smaller screens here */
        width: 80px;
        height: 80px;
    }

    .name-container {
        /* Adjust styles for smaller screens here */
        font-size: 18px;
    }

    .other-info {
        /* Adjust styles for smaller screens here */
        width: 80%;
    }

    .logout-button {
        /* Adjust styles for smaller screens here */
        width: 150px;
    }

    .button-container {
        /* Adjust styles for smaller screens here */
        margin-top: 3vh;
    }

    canvas {
        /* Adjust styles for smaller screens here */
        width: 100%;
    }

    .user-data {
        /* Adjust styles for smaller screens here */
        width: 90%;
        padding: 15px;
    }
}