{% extends 'basic.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'calc.css' %}">{% endblock %}
<title>Calculate</title>
</head>
    {% block body %}
    <body>
        <div class="calculate-section" >
            <form class="container" method="post" style = "margin:auto;" action="/result/">
                {% csrf_token %}
                <div class="heading">
                    Enter your daily consumption here
                </div>
                <div class="input-container">
                    <span>Electricity</span>
                    <input type="number" name="electricity" id="electricty" placeholder="Enter your daily electricity consumption" required>          
                </div>
                <div class="input-container">
                    <span>Petrol</span>
                    <input type="number" name="Petrol" id="petrol" placeholder="Enter your daily petrol consumption" required>          
                </div>
                <div class="input-container">
                    <span>Diesel</span>
                    <input type="number" name="Diesel" id="diesel" placeholder="Enter you daily Diesel consumption" required>          
                </div>
                <div class="input-container">
                    <span>LPG</span>
                    <input type="number" name="LPG" id="lpg" placeholder="Enter your daily LPG consumption" required>          
                </div>
                <div class="button-container">
                    <button type="submit">
                         CALCULATE
                    </button>
                </div>
            </form>
        </div>
    </body> 
    {% endblock  %}
</html>