{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
  {% block css %}<link rel="stylesheet" href="{% static 'loginLogout.css' %}">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
  <title>Landing Page</title>
</head>
<body>
  {% block body %}
    <div class="ll-container">
        <form class="login form visibleForm" method="post" action="/login/">
          {% csrf_token %}
          <input class="input loginname" type="name" placeholder="Username" required name="username">
          <input class="input loginpassword" type="password" placeholder="Password" required name="password">
          <center><button class="button" type="submit" id="login">Login</button></center>
          <center style="color:#2BAE66">or</center>
          <center><button class="button" id="signupAdd">Sign Up</button></center>
        </form>    
        <form class="signup form" method="post" action="/signin/">
          {% csrf_token %}
          <input class="input signupname" type="text" placeholder="Name" name="Name">
          <input class="input signupemail" type="email" placeholder="E-Mail I.D." name="email">
          <input class="input signuppass" type="password" placeholder="Enter password" name="password" onchange="onChange()">
          <input class="input signupcheckpass" type="password" placeholder="Confirm password" name="confirmPassword" onchange="onChange()">
          <center><button class="button" type="submit" id = 'signup'>signup</button></center>
          <p id="passwordError" style="color: red;"></p>
        </form>
      
    </div>
  {% endblock  %}
  {% block script %}
    <script>
      ScrollReveal().reveal('.about-cf', {delay:300}); 
    </script>
    <script>
        function onChange() {
          const password = document.querySelector('.signuppass');
          const confirm = document.querySelector('.signupcheckpass');
          if (confirm.value === password.value) {
            confirm.setCustomValidity('');
          } else {
            confirm.setCustomValidity('Passwords do not match');
          }
        }
        $('#signupAdd').click(function(){
            $('.signup').addClass('visibleForm')
            $('.login').removeClass('visibleForm')
        })
    </script>
  {% endblock%}
</body>
</html>